.hero-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0) 60%,
      #151623 90%,
      #151623
    ),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/home1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}


