<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agent</title>
  </head>
  <body>
    <h1>Agent</h1>
    <button>
      <a href="{% url 'logout' %}">Logout</a>
    </button>

    <ul>
      <h2>Your Apartments:</h2>
      <button type="button">
        <a href="{% url 'create_property' %}">Create Apartment</a>
      </button>
      <ul>
        {% for property in apartment %}
        <li>
          <a href="{% url 'property_details' property.id %}"
            >{{ property.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </ul>
    <button>
      <a href="{% url 'create_property' %}">Create Apartment</a>
    </button>
  </body>
</html>
