{% extends 'main.html' %} {% block content %}
<h1 class="pt-40">{{ room.name }}</h1>

{% if user.agent %}
<button
  type="button"
  class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700"
>
  <a href="{% url 'add_available_time' room.id %}">Add Available Time</a>
</button>
{% if not room.is_occupied %}
<button
  type="button"
  class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700"
>
  <a href="{% url 'add_occupation' room.id %}">Add Occupation</a>
</button>
{% endif %} {% endif %} {% if occupation %} {% if user.agent %}

<!-- Button to add bill -->
<button
  type="button"
  class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700"
>
  <a href="{% url 'add_bill' room.id %}">Add Bill</a>
</button>
{% endif %}

<h2>Bills</h2>
<ul>
  {% for bill in bills %}
  <li>
    {{ bill.tenant.first_name }} - {{ bill.amount }} (Due Date: {{ bill.due_date
    }})
  </li>
  {% endfor %}
</ul>
<h2>Occupation</h2>
<ul>
  {% for occ in occupation %}
  <li>
    {{ occ.tenant.first_name }} {{ occ.tenant.last_name }} - {{ occ.start_date}}
  </li>
  {% if user.agent %}

  <form method="post" action="{% url 'remove_occupation' occ.id %}">
    {% csrf_token %}
    <button type="submit">Remove Occupation</button>
  </form>
  {% endif %} {% endfor %}
</ul>
{% endif %} {% if available_times %}

<h2>Available Times</h2>
<ul>
  {% for available_time in available_times %}
  <li>{{ available_time.date }} - {{ available_time.time }}</li>
  {% endfor %}
</ul>

{% if is_authenticated_tenant %} {% if not has_booking %}
<h2>Book this Room</h2>
<form method="post">
  {% csrf_token %} {{ form }}
  <button type="submit">Book</button>
</form>
{% else %}
<h2>Your Booking</h2>

<p>{{ booking.available_time.date }} - {{ booking.available_time.time }}</p>
<form method="post" action="{% url 'cancel_booking' booking.id %}">
  {% csrf_token %}
  <button type="submit">Cancel Booking</button>
</form>
{% endif %} {% endif %} {% else %}
<p>No available times for this room.</p>
{% endif %} {% endblock %}
