{% extends 'main.html' %} {% load static %} {% block content %}
<div
  class="h-[50vh] w-full bg-cover bg-center bg-no-repeat"
  style="
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 60%,
        #151623 90%,
        #151623
      ),
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url({% static 'images/home.jpg' %});
  "
></div>

<main class="pt-16 max-h-screen overflow-auto">
  <div class="px-6 py-8">
    <div class="max-w-4xl mx-auto">
      <div class="bg-white rounded-3xl p-8 mb-5">
        <h1 class="text-3xl font-bold mb-10">Tenant Dashboard</h1>
      </div>

      <hr class="my-10" />

      <div class="grid grid-cols-2 gap-x-20">
        <div>
          <div class="grid grid-cols-2 gap-4">
            <div class="col-span-2">
              <div class="p-4 bg-green-100 mt-5 rounded-xl">
                <div class="text-xl text-gray-800 leading-none">
                  Good day <span class="font-bold">{{user.tenant}}</span>
                </div>
                <a href="{% url 'generate_contract_pdf' contract.id %}" class='text-[#000]'>Download Contract</a>
                
              </div>
            </div>
            <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
              <div class="font-bold text-2xl leading-none">Room number</div>
              <div class="mt-2">{{occupation.room}}</div>
            </div>
            <div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
              <div class="font-bold text-2xl leading-none">Move in date</div>
              <div class="mt-2">{{occupation.start_date}}</div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="text-2xl font-bold mb-4">Bills</h2>
          {% if bills %}
          <div class="space-y-4">
            {% for bill in bills %}
            <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
              <div class="flex justify-between">
                <div class="text-[#000] text-xs">
                  Reference number:
                  <span class="font-bold">{{ bill.invoice_no }}</span>
                </div>
                <div class="text-gray-400 text-xs">4h</div>
              </div>
              <a
                href="javascript:void(0)"
                class="hover:text-yellow-800 hover:underline"
                >Amount: <span class="font-bold">{{ bill.amount }}</span></a
              >
              <div class="text-sm text-gray-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  class="text-gray-800 inline align-middle mr-1"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                  /></svg
                >Deadline is {{ bill.due_date }}
              </div>
              <button
                type="button"
                class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-[#e3af5a] text-gray-800 hover:text-green-500 text-sm font-semibold transition"
              >
                <a href="{% url 'stk-push' bill.pk %}">Pay now</a>
              </button>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
            <div class="flex justify-between">
              <div class="text-[#000] text-xs">No bills yet</div>
              <div class="text-gray-400 text-xs">4h</div>
            </div>
            <a
              href="javascript:void(0)"
              class="hover:text-yellow-800 hover:underline"
              >Amount: <span class="font-bold">0</span></a
            >
            <div class="text-sm text-gray-600">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                class="text-gray-800 inline align-middle mr-1"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                /></svg
              >Deadline is {{ bill.due_date }}
            </div>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      {% for booking in bookings %}
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div
            class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-6 h-6"
              viewBox="0 0 24 24"
            >
              <!-- Calendar icon representation -->
              <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
              <line x1="16" y1="2" x2="16" y2="6"></line>
              <line x1="8" y1="2" x2="8" y2="6"></line>
              <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
          </div>
          <h2 class="text-lg font-medium title-font mb-2 text-blue-600">
            {{ booking.available_time.date }} at {{ booking.available_time.time
            }}
          </h2>
          <p class="leading-relaxed text-base">
            <span class="font-bold"> Room name: </span>

            {{ booking.available_time.room.name}}
          </p>
          <p class="leading-relaxed text-base">
            <span class="font-bold"> Apartment name: </span>
            {{ booking.available_time.room.apartment.name }}
          </p>
          <p class="leading-relaxed text-base">
            <span class="font-bold"> Location: </span>
            {{ booking.available_time.room.apartment.location }}
          </p>
          <p class="leading-relaxed text-base">
            <span class="font-bold"> Agent: </span>
            {{ booking.available_time.room.apartment.agent }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}
