{% extends 'main.html' %} {% block content %}
<h1>Tenant home</h1>
<ul>
  {% for booking in bookings %}
  <li>
    <a href=""> {{ booking.check_in }} - {{ booking.check_out }} </a>
  </li>
  <li>
    <a href=""> {{ booking.room.name }} </a>
  </li>
  <li>
    <a href=""> {{ booking.room.property.name }} </a>
  </li>
  <li>
    <a href=""> {{ booking.room.property.location }} </a>
  </li>
  <li>
    <a href=""> {{ booking.property.address }} </a>
  </li>
    {% endfor %}
  </li>
</ul>

{% endblock %}
