<div
  class="grid md:grid-cols-2 grid-cols-1 gap-8 bg-[#222] text-[#adadb0] pl-12 md:pl-20 pt-10 md:pt-20"
>
  <div>
    <h1 class="text-[#eee] font-bold text-4xl font-allura">Muru properties</h1>
  </div>
  <div class="flex md:justify-around">
    <div class="mr-20 md:mr-0">
      <ul>
        <li class="mb-5 hover:text-[#75fbfd] cursor-pointer font-gilda">
          <a href="/">Home</a>
        </li>
        <li class="mb-5 hover:text-[#75fbfd] cursor-pointer">
          <a href="#about">About</a>
        </li>
        <li class="mb-5 hover:text-[#75fbfd] cursor-pointer">
          <a href="#skills">Skills</a>
        </li>
        <li class="mb-5 hover:text-[#75fbfd] cursor-pointer">
          <a href="#projects">Projects</a>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="mb-5 hover:text-[#75fbfd] cursor-pointer">
          <a href="#contact">Contact</a>
        </li>
        <li class="mb-5 hover:text-[#75fbfd] cursor-pointer">
          <a href="#medium">Medium</a>
        </li>
        <li class="mb-5 hover:text-[#75fbfd] cursor-pointer">
          <a href="#mentorship">Mentorship</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bg-[#222] text-[#adadb0] pb-20 pr-4 md:pr-0 font-gilda">
    ©{{ now.year }} Muru Properties. All rights reserved
  </div>
</div>

<a href="/">
  <div class="fixed bottom-5 right-5 animate-bounce">
    <button
      class="text-[#5651e5] rounded-full p-3 hover:bg-[#75fbfd] hover:text-[#181823] ease-in duration-100"
    >
      <i class="fas fa-arrow-up fa-2x"></i>
    </button>
  </div>
</a>
